doctype 5
html
  head
    title= "Story Book"
    meta(charset='utf-8')
    meta(property='og:image', content='http://mingboong.com/images/index/preview.png')
    meta(property='og:title', content='스토리북 - 류슬기, 정민지 - 졸업전시회 11/14 ~ 11/19 (수원대학교 커뮤니케이션 디자인과)')
    meta(property='og:url', content='http://mingboong.com/book')
    link(rel='stylesheet', href='/stylesheets/book.css')
  body
    #container
    #progressBar

    a(class='btn_left_arrow btn_arrow', href='#'): Prev
    a(class='btn_right_arrow btn_arrow', href='#'): Next
    img(src='/images/btn_left_arrow_dark.png', style='display:none')
    img(src='/images/btn_right_arrow_dark.png', style='display:none')

    a(class='btn_facebook', href='#'): Facebook

    script(src='/javascripts/jquery-2.0.3.min.js')
    script(src='/javascripts/plax.js')
    script(src='/javascripts/slide.js')
    script(src='/javascripts/book.js')
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44604794-1', 'mingboong.com');
      ga('send', 'pageview');
