doctype 5
html
  head
    title= "Story Book"
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv='X-UA-Compatible', content='IE=EDGE')
  body
    #container

    script(src='/javascripts/jquery-2.0.3.min.js')
    // [if gt IE 8]
      script(src='/javascripts/json3.min.js')
      script(src='/javascripts/jquery-1.10.2.min.js')
    // <![endif]
    script(src='/javascripts/plax.js')
    script(src='/javascripts/slide.js')
    script(src='/javascripts/index.js')
    script(src='http://localhost:35729/livereload.js')