doctype 5
html
  head
    title= "류슬기, 정민지 - 졸업전시회 11/14 ~ 11/19 (수원대학교 커뮤니케이션 디자인과)"
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(property='og:image', content='http://mingboong.com/images/invitation/preview3.png')
    meta(property='og:title', content='류슬기, 정민지 - 졸업전시회 11/14 ~ 11/19 (수원대학교 커뮤니케이션 디자인과)')
    meta(property='og:url', content='http://mingboong.com')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    .container
      a(href="/invitation", class="invitation")
      a(href="/book", class="storybook")