body {
  padding: 0;
  margin: 0;
  position: relative;
  background: #222;
}

#container {
  width: 1024px;
  height: 388px;
  left: 50%;
  top: 50%;
  margin-left: -512px;
  margin-top: -194px;
  position: absolute;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-1 {
  .piece-1 { left: 183px; top: 205px }
  .piece-2 { left: 338px; top: 67px }
  .piece-3 { left: 746px; top: 264px }
  .piece-4 { left: 857px; top: 202px }
  .piece-5 { left: 985px; top: 0px }
  .piece-6 { left: 972px; top: 130px }
  .piece-7 { left: 954px; top: 314px }
  .piece-8 { left: 1157px; top: 0px }
  .piece-9 { left: 1081px; top: 136px }
  .piece-10 { left: 1171px; top: 142px }
  .piece-11 { left: 1241px; top: 169px }
}